.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  text-align: center;
}

.introduction_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.introduction {
  max-width: 800px;
  padding: 15px;
}

.actions_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.actions {
  max-width: 800px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media (max-width: 500px) {
  .actions {
    flex-direction: column;
  }
}
